html{
    font-size: calc((5vh + 5vw)/2);
}



.section5{
    display: flex;
    justify-content: center;
    background-image: url(../img/fond\ formulaire.png);
    background-size: cover;
    padding-bottom: 100px;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire{
    padding-right: 50px;
    padding-left: 50px;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top:150px ;
    width: 100%;
    background-color: rgba(217,217,217,30%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nom_prenom{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.nom{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.prenom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail_tel{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.obj{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_obj{
    width: 300px;
}

.mess{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_mess{
    width: 600px;
    height: 200px;
    overflow: hidden;
}

.formulaire button{
    color: white;
    margin-top: 50px;
    background-color: rgb(30, 30, 163);
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    
}

button:active {
        background-color: #3f3e8e;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

.contact_moi{
    font-size: 0.5rem;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}


@media (max-width: 850px) {
    .formulaire{
        width: 80vw;

    }

    .contact_moi{
        max-width: 80vw;
    }
}

@media (max-width: 655px) {

    .text_mess{
        width: 80vw;
    }
    .formulaire{
        width: 75vw;

    }

    .contact_moi{
        max-width: 75vw;
    }
}

@media (max-width: 475px) {


    .formulaire{
        width: 70vw;

    }

    .contact_moi{
        max-width: 70vw;
    }
    .nom_prenom{
        flex-direction: column;
    }
    .nom input{
        width:100%
    }

    .prenom input{
        width: 100%;
    }
    .mail_tel{
        flex-direction: column;
    }

    .mail input{
        width: 100%;
    }

    .tel input{
        width: 100%;
    }


}


@media (max-width: 390px) {
    .formulaire{
        width: 65vw;

    }

    .contact_moi{
        max-width: 65vw;
    }
}