.section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(99, 99, 105);
    padding-bottom: 200px;

}

.front_end{
    margin-top: 150px;
}

.back_end{
    margin-top: 150px;
}

.section4 h3{
    text-align: center;
    font-size: 50px;
}

.les_front{
    width: 550px;
}

.back_end_1{
    width: 230px;
}

.back_end_2{
    width: 190px;
}

.les_cms h3{
    margin-top: 155px;
}

.les_cms img{
    width: 160px;
}

@media (max-width: 570px) {
    .les_front{
        max-width: 100%;

    }
    .back_end_1{
        max-width:50%;
    }
    
    .back_end_2{
       max-width: 35vw;
    }
}

@media (max-width: 350px) {

    .les_cms img{
        max-width: 40vw;
    }

}